.body_fixed {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

.kanban {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.column {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
}

.task {
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: move;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.footer {
    background-color: rgb(3, 33, 33);
}

.footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 600px;

}

.nav__link {
    display: block;
    max-width: 300px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}


.podrobnee-btn {
    min-width: 100px;
    font-family: 10px;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;
    padding: 4px 8px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .podrobnee-btn:hover {
    background: #1d49aa;
  }
  
  .podrobnee-btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }