@import "../Kanban/kanban.css";

body {
    background-color: #f4f4f4;
}

.container {
    padding-top: 20px;
    width: 1150px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.accordion {
    width: 100%;
    /* max-width: 600px; */
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 10px;

}

.accordion-header {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.accordion-header:hover {
    background-color: #45a049;
}

.accordion-content {
    display: none; /* Скрываем содержимое по умолчанию */
    padding: 15px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
}

.accordion-content p {
    text-align: center;
}

/* games style.css */
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding-bottom: 20px;
}

#game-container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    background-color: #f9f9f9;
    margin-top: 20px;
}

#player, #target {
    width: 30px;
    height: 30px;
    position: absolute;
}

#player {
    background-color: #3498db;
}

#target {
    background-color: #e74c3c;
    padding-bottom: 20px;
}

.score {
    padding-top: 20px;
    font-size: 25px;
    line-height: 30px;
}
/* games style.css */


/* Калькулятор расходов expense */

.status {
    color: green;
}

.status_red {
    color: red;
}

.container h1 {
    color: #3498db;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 20px;
}

.expense__box {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 400px;
    margin: 0 auto;
}

.p_expense {
    font-size: 22px;
    line-height: 27px;
}

.status {
    color: green;
    font-size: 22px;
    line-height: 27px;
}

.status_red {
    color: red;
}

/* Устанавливаем стиль для общего контейнера */
.row {
    display: flex; /* Устанавливаем горизонтальное расположение элементов */
    justify-content: space-between; /* Пространство между колонками */
    margin: 20px;
}

/* Стиль для колонок */
.col {
    width: 48%; /* Каждая колонка занимает примерно половину ширины */
    padding: 20px;
    box-sizing: border-box; /* Включаем padding в ширину */
    border: 1px solid #ddd; /* Граница для разделения */
    border-radius: 8px; /* Закругленные углы */
}

/* Стили для других элементов */
.button {
    width: 100%; /* Растягиваем кнопку и поле ввода на всю ширину */
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 1em;
}

.expense-input {
    width: 100%; /* Растягиваем кнопку и поле ввода на всю ширину */
    margin-top: 10px;
    font-size: 1em;
}

.js-history {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    min-height: 200px; /* Минимальная высота для области истории */
    overflow-y: auto; /* Полоса прокрутки, если история длинная */
}


/* Калькулятор расходов expense */

/* Блок с товарами */



.container-item {
    font-family: 'relevay';
    background-color: #333;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
}

.container-item h1 {
    color: #fff;
}

.item-box0 {
    /* padding-left: 10px;
    padding-right: 10px; */
    display: flex;
    justify-content: space-evenly;
    background-color: #333;
}

.item {
    width: 30%;
   
    
}

.item__text-wrapper {
    padding: 24px;
    background-color: #1b1b1b;
    color: #fff;
    border-radius: 0px 0px 32px 32px;
}
.item__image {
    display: block;
    width: 100%;
    height: 418px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.item__title {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
}
.item__color {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
}

.item__price {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #f1f8ff;
}

.item__cart-btn {
    width: 100%;
    height: 66px;
    background-color: #fff;
    border-radius: 30px;
    border: none;
    font-family: 'releway';
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

.item__cart-btn:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

/* Блок с товарами */

/* Таблица */

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */
  
  .table {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Расстояние между строками */
  }
  
  .row1 {
    display: flex;
    gap: 10px; /* Расстояние между ячейками */
    /* border: 1px solid red; */
    /* background-color: #e74c3c; */
  }
  
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100px; */
    height: 100px;
    background-color: rgba(0, 128, 255, 0.2); /* Полупрозрачный цветной фон */
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px; /* Радиус углов */
    border: 1px solid blue;
  }

  .cell-1 {
    width: 20%;
  }

  .cell-2 {
    width: 40%;
  }

  .cell-3 {
    width: 40%;
  }
  
/* Таблица */

.btn_neon_box {
    padding: 200px;
    background-color: black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.neon-btn {
    padding: 15px 32px;
    border-radius: 12px;
    /* margin-top: 30px; */
    background-color: #3498db;
    box-shadow: 0 0 5px cyan, 
    0 0 25px cyan;
    cursor: pointer;
}

.neon-btn:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.animated-btn-box {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.animated-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition: 0.3s;
}

.animated-btn:hover {
    background-color: #45a049;
    transform: scale(1.1);
}