body {
    width: 100%;
    padding: 30px;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 39px;
    font-weight: 400;
    background: #ffffff;
}

.container {
    margin: 0 auto;
    border: 2px solid black;
    padding: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

button {
    font-family: inherit;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

.zagolovok {
    text-align: center;
}

h1 {
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
}

ol {
    list-style: decimal; /* нумирация обычными цифрами */
    list-style-position: inside; /* в пределах блока ol */
}

.label {
    font-weight: 700;
}

.rub::after {
    content: " руб.";
}

.expenses {
    margin-top: 28px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 43px;
}

.expensesInput {
    width: 484px;
}

.categorySelect {
    margin-top: 18px;
    width: 484px;
    height: 58px;
    padding-left: 22px;
    font-size: inherit;
    border: 1px solid #000;
}

.moneyInput {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 17px 9px 22px;
    border: 1px solid #000;
}

.moneyInput__input {
    width: 100%;
    border: none;
    font-size: inherit;
}

.moneyInput__currency {
    padding-left: 20px;
}

.moneyInput__input:focus-visible {
    outline: none;
}

.addButton {
    height: 58px;
    display: block;
    padding: 10px 110px;
    font-size: inherit;
    color: #ffffff;
    background-color: #0094ff;
    border: none;
}

.clearButton {
    width: 484px;
    display: block;
    padding: 11px 82px 8px 107px;
    color: #ffffff;
    background-color: #FF0000;
    border: none;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
}

.stats {
    width: 484px;
}

.stats__total {
    margin-top: 13px;
}

.stats__status {
    margin-top: 35px;
}

.stats__statusText_positive {
    color: #039000;
}

.stats__changeLimitBtn {
    width: 42px;
    height: 42px;
    cursor: pointer;
    /* transform: scale(1.03); */
    transition: fill 0.3s ease;
    color: #000; /* начальный цвет */
    transition: color 0.3s ease;
}

.stats__changeLimitBtn:hover {
    /* box-shadow: 0 0 5px #FF0000, 
    0 0 25px #FF0000; */
    /* background-color: #FF0000; */
    fill: #3498db;
}

.history {
    width: 484px;
}

.history__list {
    margin-top: 21px;
}
