.post-box {
    margin: 0 auto;
    border: 1px solid red;
}


.post-title-input {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 300px;
}

.post-text-input {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 300px;
}

.new-posr-btn {
    width: 300px;
    height: 30px;
    box-sizing: border-box;

}

.row {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.post-h1 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    line-height: 32px;
}   

