.date-h1 {
    font-size: 35px;
    line-height: 43px;
}

.dateInput {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
    border: none;
    border-bottom: 1px solid black;
    width: calc(30%-10px);
}

.date-btn {
    display: block;
    width: calc(70%-10px);
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    color: #AD1818;
    cursor: pointer;

    margin-top: 80px;
    line-height: 63px;
    font-size: 20px;
}

.result-date {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}